# maven ignore
target/
*.war
*.class

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.tmp
*.cache


# system ignore
.DS_Store
Thumbs.db
*.orig
*.class